body {
  background: #fcfcfc url("/graphics/dot-grid-dots.png");
  font-family:  calibri, Verdana, Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  color: #333;
  letter-spacing: 1px;
}


#layout {
  margin: 70px auto;
  width: 800px;
}



#navigationbar {
  width: 800px;
  float: left;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

#navigation {
  height: 20px;
  line-height: 20px;
  background: transparent;
  border-radius: 10px;
  border: 0px solid #ebb81f;
  margin: 5px;
}

#navlink {
  color: #333;
}


#banner {
  width: 800px;
  float: left;
  margin: 0 auto;
}

#bannertextorimage {
  height: 70px;
  line-height: 70px;
  background: transparent;
  border-radius: 10px;
  border: 0px solid #ebb81f;
  margin: 5px;
}

.text {
  font: italic 30px monospace;
  /*border-bottom: 3px dotted #c8c8c8;*/
  text-align: center;
  /*color: #7EACE8;*/
  color: #3b61a8;
  letter-spacing: 4px;
  text-transform: uppercase;
}



#content {
  width: 400px;
  float: left;
  margin: 0 auto;
}

#contentjournal {
  width: 600px;
  float: left;
  margin: 0 auto;
}

#contentjournalinfo {
  width: 600px;
  float: left;
}

#content404 {
  width: 400px;
  float: left;
  margin-top: 15px;
  margin-left: 200px;
}

#contentbox {
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #e3e1e6;
  margin: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

p {
  margin-top: 6px;
  margin-bottom: 6px;
}


#left {
  width: 200px;
  float: left;
  margin: 0 auto;
}

#leftbox {
  border-radius: 10px;
  padding: 5px;
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #e3e1e6;
  margin: 5px;
  margin-bottom: 10px;
}


#right {
  width: 200px;
  float: left;
  margin: 0 auto;
}

#rightbox {
  padding: 5px;
  border-radius: 10px;
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #e3e1e6;
  margin: 5px;
  margin-bottom: 10px;
}



#footer {
  width: 800px;
  float: left;
  margin: 0 auto;
  clear: both;
}

#footerbox {
  height: 20px;
  background: transparent;
  border-radius: 0px;
  border-top: 0px solid #1feb52;
  margin: 5px;
  margin-bottom: 200px;
  padding-top: 5px;
  text-align: center;
}



a:link {
  /*color: #408AC9;*/
  color: #2fb4ff;
  text-decoration: none;
}

a:visited {
  /*color: #408AC9;*/
  color: #28519e;
  text-decoration: none;

}

a:hover {
  color: #888;
  text-decoration: none;

}



::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #999;
}

::-webkit-scrollbar {
  width: 7px;
  height: 4px;
  background: #fff;
}



.small-title {
  color: #666;
  text-transform: uppercase;
  font: 12px arial;
  line-height: 12px;
  /*background: #cfdbfc;*/
  background: #fddfa7;
  border-radius: 10px;
  margin-bottom: 5px;
}

.big-title {
  color: #666;
  text-transform: uppercase;
  font: 16px arial;
  line-height: 16px;
  /*background: #DEDBFA;*/
  background: #b2dbff;
  border-radius: 10px;
  margin-bottom: 5px;
}



#Table {
  border-collapse: collapse;
  padding: 5px;
  width: 380px;
}

#Table th {
  padding: 0px;
  /*background: #b2d8fa;*/
  background: #fddfa7;
  color: #666;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 50%;
  text-align: left;
  font: 12px arial;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#Table td {
  text-align: center;
  padding: 5px;
  background: #ffffff;
  color: #313030;
  width: 50%;
  text-align: left;
}


#navigation a:link,
a:active {
  font: 12px monospace;
  text-transform: uppercase;
  line-height: 20px;
  padding: 4px;
  letter-spacing: 2px;
  margin-right: 10px;
  background: #fff;
  border-radius: 10px;
  color: #333;
}

#navigation a:hover {
  background: #fff;
  text-transform: uppercase;
  line-height: 20px;
  padding: 4px;
  letter-spacing: 2px;
  margin-right: 10px;
  color: #666;
}

textarea {
  font-size: 10px;
  letter-spacing: 1px;
  color: #999;
}

ul {
  padding-left: 22px;
}

#statuscafe {
    padding: .5em;
    border: 1px solid #eee;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat996.cur), auto !important;} /* End https://www.cursors-4u.com */