---
layout: page_base.njk
title: "about me!"
---
<div class="left">
    <section class="orange">
        <h3>Here, have a fun fact:</h3>
        <p>I played the piano and clarinet when I was a kid! I still have my clarinet actually... maybe someday I can take lessons again.</p>
    </section>

    <section class="blue">
        {% include "partials/statuscafe.njk" %}
    </section>

    <section class="yellow">
        {% include "partials/linkback.njk" %}
    </section>
</div>

<div class="right">
    <section class="purple">
        <h2>Hello there, fellow explorers!</h2>
        <p>
            I'm <strong>Luna</strong>, the webmaster of lunarlily. I use <em>they/them</em> pronouns, and I'm in my late 20s. I love bunnies and studying the stars. Nice to meet you!
        </p>
        <p>
            After some encouragement from <a href="https://nightmarefish.neocities.org/">a friend,</a> I sat down to make this little place a reality. I'm not sure what it's going to be exactly, beyond somewhere that I can collect the things I like and maybe even my thoughts about them, but I'm looking forward to watching it evolve over time. Who knows what the future holds?
        </p>
        <p>
            I'm a bit shy but you're always welcome to <a href="mailto:bunflora@proton.me">drop me an email</a> or leave a message in the guestbook.
        </p>
    </section>

    <div class="right-inside">
        <section class="green">
            <h3>Things I like</h3>
            <ul>
                <li>ice cold grapes</li>
                <li>taking naps</li>
                <li>logic puzzles</li>
                <li>yapping about ocs</li>
                <li>bunnies</li>
                <li>astronomy</li>
                <li>laughing with my friends</li>
                <li>reading books in a single sitting</li>
            </ul>
        </section>

        <section class="red">
            <h3>Things I don't like</h3>
            <ul>
                <li>hot drinks</li>
                <li>waking up early</li>
                <li>filing taxes</li>
                <li>bitter things</li>
                <li>bitter people</li>
                <li>bugs...</li>
                <li>remembering i exist after reading books in a single sitting</li>
            </ul>
        </section>
    </div>

    <section class="orange">
        <h3>A <span class="subtletext">(non-exhaustive)</span> list of favorites</h3>
        <p><strong>foods:</strong> mashed potatoes, sandwiches, chocolate chip cookies, zucchini, honey roasted cashews, orange creme savers, pancakes, strawberry lemonade, most fruits (other than melons)</p>
        <p><strong>games:</strong> Fantasy Life, Metaphor: ReFantazio, Gravity Rush, Kingdom Hearts II, Bravely Default, Rune Factory 4, Deltarune, Code: Realize, Pokemon BW, Zero Escape</p>
        <p><strong>books:</strong> The Starless Sea (Erin Morgenstern), The Locked Tomb series (Tamsyn Muir), Swordheart (T. Kingfisher), Sabriel (Garth Nix), Blood Over Bright Haven (M.L. Wang), The Tale of Despereaux (Kate DiCamillo)</p>
        <p><strong>anime:</strong> A Sign of Affection, Trigun Stampede + Stargaze, Mobile Suit Gundam: The Witch from Mercury, Natsume's Book of Friends</p>
        <p><strong>manga:</strong> Witch Hat Atelier, Cardcaptor Sakura, Yotsuba!, Soul Eater, Hanamonogatari, No.6, Frieren, Spacewalking with You</p>
        <p><strong>colors:</strong> purple and orange</p>
        <p><strong>time of day:</strong> 5:45pm</p>
        <p><strong>stationery:</strong> Sarasa 0.5mm gel pens, Takeda Jimuki Kyo-Iro inks (<i>Soft Snow of Ohara</i> in particular), Bande washi tape sticker rolls, Tombow Mono adhesive tape runner</p>
        <p><strong>sounds:</strong> my cat's meows, windchimes, Bangboo ehn-nas, PS2 start-up sound, shuffling cards, afternoon rainshowers, pikmin when you pluck them</p>
    </section>

    <div class="right-inside">
        <section class="yellow">
            <h3>Trackers of things</h3>
            <ul>
                <li><a href="https://anilist.co/user/bunflora/">anime & manga (Anilist)</a></li>
                <li><a href="https://app.thestorygraph.com/profile/wayfinders">books (Storygraph)</a></li>
                <li><a href="https://backloggd.com/u/momokupo/">video games (Backloggd)</a></li>
                <li><a href="https://boardgamegeek.com/collection/user/bunflora">board games (BGG)</a></li>
                <li><a href="https://myfigurecollection.net/profile/aerina">figures (MFC)</a></li>
                <li><a href="https://www.last.fm/user/eleventhcircle">music (last.fm)</a></li>
            </ul>
            <p class="subtletext">Updated whenever I remember to! Feel free to send me a friend request on any of these sites.</p>
        </section>

        <section class="blue">
            <h3>Friend codes & connections</h3>
            <p class="subtletext">Drop yours in the guestbook if you'd like :]</p>
            <ul>
                <li><strong>3DS:</strong> adding next time I charge it</li>
                <li><strong>Switch:</strong> 6984 4690 5693</li>
                <li><strong>Honkai Star Rail:</strong> 601733413</li>
                <li><del><strong>Zenless Zone Zero:</strong> 1002399764</del> <span class="subtletext">Not actively playing right now</span></li>
                <li><strong>Wuthering Waves:</strong> 501363046</li>
                <li><strong>Arknights Endfield:</strong> 6949434829</li>
            </ul>
        </section>
    </div>
</div>