---
layout: page_base.njk
title: /now
---

<div class="left">
    <!-- about this page -->
     <section class="indigo">
        <h3>What's going on with Luna nowadays?</h3>
        <p>That's the question this page aims to answer! In contrast to the little "currently" section in the sidebar or status.cafe posts, which function as silly momentary snapshots, this is where I can share things I'm working on or that I've been interested in lately. Sections will absolutely change over time (much like my interests).</p>
        <p class="subtletext">Curious? Read more about the concept of /now pages <a href="https://nownownow.com/about">here!</a></p>
     </section>

    <!-- statuscafe -->
    <section class="blue">
        {% include "partials/statuscafe.njk" %}
    </section>

    <!-- currently -->
    <section class="green">
        {% include "partials/currently.njk" %}
    </section>
</div>

<div class="right">
    <section class="orange">
        <h3>Nonfiction I'm reading</h3>
            <p>Slowly working through another web-related history: <a href="https://app.thestorygraph.com/books/6ff0d603-1267-41e8-a72d-b08cef60e174">The Two Revolutions: A History of the Transgender Internet</a>, by Avery Dame-Griff. It's an interesting dive into how the transgender community of the 1980s and 90s shaped the Internet - and how our community was shaped by it in turn, for better or worse. I suggested it as a purchase to my library last year and was pleasantly surprised when I got the confirmation email! I'm a slow nonfiction reader so I'm not sure if I'll get through all of it before it's due back to the library but I can always check it out again lol</p>
        <p class="subtletext">Last updated: 6 April 2026</p>
    </section>

    <section class="green">
        <h3>Stationery I'm using</h3>
        <p>Zebra Sarasa gel pens have been my ride or die for an age and they're still the first thing I reach for in the morning when I crack open my planner. I haven't bothered with stickers or washi tape in there for a while, but using colored inks still gives a little visual fun without much extra work yknow? Big into the <a href="https://www.jetpens.com/Zebra-Sarasa-Clip-Gel-Pen-0.5-mm-Milk-8-Color-Set/pd/14918">milk color series</a> right now, they're pastel but still very easy to read.</p>
        <p>Now onto a couple recent additions to my collection: I recently had to invest in a new correction tape! Tombow no longer makes the model I bought in high school (the case had an eraser built in which saved some room in my pencil case) and I used up my last refill so I had to find a new one. I stuck with Tombow because I find their stuff to be quite reliable, just switched to the newer <a href="https://www.tombow.com/en/products/mono_air_cax/">Mono Air refillable model.</a> The tape lays down sooooo smooth, it's awesome :]</p>
        <p>For Christmas I got myself a gift: a <a href="https://www.twsbi.com/products/twsbi-eco-white-fountain-pen">TWSBI ECO fountain pen</a>, in white with silver hardware and an EF nib. It's my first "fancy" <span class="subtletext">(read: over $25)</span> pen and I am absolutely <em>in love</em> with how it writes!! Right now I have it inked with <a href="https://yosekastationery.com/products/robert-oster-signature-ink-deep-sea-50ml?_pos=58&_fid=610703ce3&_ss=c">Robert Oster's Deep Sea,</a> another Christmas gift from my partner this time. It's such a beautiful green-blue. Fairly well behaved too, though it likes to bleed on really cheap paper. I keep fishing for excuses to use this pen beyond journaling...</p>
        <p class="subtletext">*No sponsored or affiliated links here, I just like these things a lot and find it helpful to link what I'm talking about!<br>Last updated: 6 April 2026</p>
   </section>

    <section class="purple">
        <h3>Games I'm playing <span class="subtletext">(as spoiler-free as possible!)</span></h3>
        <p><strong>Pokemon Pokopia:</strong> I finished the Rocky Ridges area story a couple days ago! I could keep going to the next area but honestly I'm having fun just bouncing between the first three and doing little building or restoration projects. I've been possessed by the urge to clean up as much of the ash in Rocky Ridges as I possibly can; as I'm sure you can imagine, my storage situation is a bit dire because of it. Who knows when I'll tire out and move on... it's a nice way to chill before bed though.</p>
        <center>
            <img src="/graphics/now/now-pokopia.jpg" alt="A screenshot from the game Pokemon Pokopia. A player character is taking a selfie of themself and their friend, who is standing on and pointing down at a lamp. Both player characters have shocked expressions.">
            <p class="subtletext pmargin">Adrian visiting my world for the first time. He liked my lamp lol</p>
        </center>
        <p><strong>On-Together:</strong> SUPER HELPFUL for getting myself to focus during work. I've tried a bunch of productivity games/idlers and this is the only one that's really stuck. I haven't joined any public lobbies yet (I think I'd end up distracted by the chatter) but I sit in a lobby with my partner while he's doing schoolwork.</p>
        <p class="subtletext">Last updated: 6 April 2026</p>
    </section>

    <section class="yellow">
        <h3>Treats I'm baking</h3>
        <p>So due to the whole <em>(vague gesturing at the last few months)</em> I haven't been baking as much as I want to, but right now I'm trying to find a new favorite scratch-made chocolate chip cookie. I've been fiddling with a recipe from the wizards at King Arthur Baking but I'm not sure if it's the one...? Sometime in the next couple weeks (hopefully) I'm going to try making it again with salted butter, I think it's too bland with unsalted. I feel like I want it to have more brown sugar too, but one thing at a time yknow? I forgot to photograph the last batch but I'll take a picture to share next time :]</p>
        <p>I have a beginners' cookbook from King Arthur that I'd like to start working through soon. I picked it up on a good sale a while back because I've been itchy to improve my baking skills for years, but never really committed the time or effort to learning. I figure I'm not getting any younger so might as well get started lol. The first lessons are all about breads, which I'm sure will give me a headache and a half to figure out while it keeps heating up here.</p>
        <p class="subtletext">Last updated: 6 April 2026</p>
    </section>
</div>