---
layout: page_base.njk
title: /now
---

<div class="left">
    <!-- about this page -->
     <section class="indigo">
        <h3>What's going on with Luna nowadays?</h3>
        <p>That's the question this page aims to answer! In contrast to the little "currently" section in the sidebar or status.cafe posts, which function as silly momentary snapshots, this is where I can share things I'm working on or that I've been interested in lately. Sections will absolutely change over time (much like my interests).</p>
        <p class="subtletext">Curious? Read more about the concept of /now pages <a href="https://nownownow.com/about">here!</a></p>
     </section>

    <!-- statuscafe -->
    <section class="blue">
        {% include "partials/statuscafe.njk" %}
    </section>

    <!-- currently -->
    <section class="green">
        {% include "partials/currently.njk" %}
    </section>
</div>

<div class="right">
    <section class="orange">
        <h3>Nonfiction I'm reading</h3>
        <p>Current theme is studying the art of storycraft. I've got a couple big Projects(tm) I'm too scared to start, and it's because I feel like such an inadqeuate storyteller. It's not like I'm gonna improve by just sitting on my ass doing nothing, so I'm picking through a few different books to find nuggets of wisdom on the topics where I really struggle.</p>
        <p><strong>Bird by Bird (Anne Lamott):</strong> I had some high school friends who took a creative writing course for one of their credits (I remember being jealous at the time, I didn't have room in my schedule for it) and they read through some or all of this book as part of the classwork, I'm not too sure if it was the whole thing or just excerpts. It struck a chord with them and I trusted their taste in books, so of course I filed it away as a book to check out... and then promptly forgot about it for ten years. So these things go.<br><br>Written in a very approachable and honestly really funny way, but Lamott has a knack for cutting right to the deepest parts of you. The chapter on perfectionism spoke to something so fundamental to my being that all I could do for a while was stare at the wall in silence and sit with what I had read.</p>
        <p><strong>Manga in Theory and Practice:</strong> This is the part where I must shamefully admit that I've never read any of Jojo's Bizarre Adventures. I've seen and heard enough good about it to give this book a whirl, though, and I'm liking it so far! Since one of those big Projects(tm) I've been avoiding is intended to be in a comic format, it felt prudent to do some studying on visual storytelling and related topics.</p>
        <p class="subtletext">Last updated: 18 September 2026</p>
    </section>

    <section class="green">
        <h3>Stationery I'm using</h3>
        <p>Still using the TWSBI Eco + Robert Oster Deep Sea combo that I talked about in the last update, still absolutely smitten with her. I gifted myself another TWSBI as a reward for locking in on a project at work but currently it's still uninked, I haven't decided what I want to put in it yet... </p>
        <p>I want to make my own little ink swatch cards so I got a pack of Cosmo Air Snow paper in A5 that I'm going to cut down to the size I want. I don't actually have many inks - I'm sitting on three full-size bottles and 7 or 8 sample vials - but it would be nice to be able to see all the colors laid out next to each other. Makes my heart happy, y'know?</p>
        <p>Semi-related: I'm kinda getting into A5 sized journals and binders this year...?! I have one for notetaking about storycraft, a couple cute binders for solo journaling games... it's such a nice size for writing. Not so big that it's tough to fill an entire page, not so small that I feel like I'm fighting to cram all my thoughts onto the page. I need to figure out setting up my printer for A5 paper and then I'll be golden.</p>
        <p>This year's planner is the same as last year, a weekly [insert name], but for the first time in many years I'm not bothering to decorate each spread. It still works just as well without the washi tape and the stickers, of course, though it's much less whimsical... maybe next year I'll have the energy to decorate again.</p>
        <p>I mentioned this in a Thing of the Week somewhat recently I think? Or maybe it was in a journal, I don't remember for sure. But I've been getting into tabbing up my books in a big way lately. Very early on in my experimenting, I discovered a preference for plastic tabs over paper (less prone to tearing/folding/otherwise getting damaged on the shelf) which was a bit of a problem; all of my index tabs leftover from college are paper. Not to worry, though: these little index tabs from Daiso are doing most of the heavy lifting for me now.</p>
        <p class="subtletext">*No sponsored or affiliated links here, I just like these things a lot and find it helpful to link what I'm talking about!<br>Last updated: 18 September 2026</p>
   </section>

    <section class="purple">
        <h3>Games I'm playing <span class="subtletext">(as spoiler-free as possible!)</span></h3>
        <p>My friend Byleth recently told me about his approach to his backlog and that sense of choice paralysis when there's a hundred different games you <em>could</em> be playing. He limits himself to three games in active rotation, and makes a separate list of a dozen games he considers "up next" in the proverbial queue. When he sits down to play something, he's only got three games to deliberate between. When he finishes one of those three, he only has to consider what to play next from a small list he already curated to his current interests. It's so straightforward but it kind of turned my brain upside down? So I'm giving it a try myself. We'll see if it makes a difference!</p>
        <p><strong>BitBuddy:</strong> Calling this one a game is kind of misleading but I dunno what else it could be categorized as. Focus helper? Parallel play buddy? You get a little guy at a desk who types when you type and moves their mouse when you move yours. Very unobtrusive productivity friend, I like having it around! Huge bonus points for it recognizing controller inputs too. Makes me feel very seen.</p>
        <center>
            <img src="/graphics/now/now-pokopia.jpg" alt="A screenshot from the game Pokemon Pokopia. A player character is taking a selfie of themself and their friend, who is standing on and pointing down at a lamp. Both player characters have shocked expressions.">
            <p class="subtletext pmargin"></p>
        </center>
        <p><strong>Fields of Mistria:</strong> 1.0 released at the beginning of August and it has taken one group of my friends by storm lol. I'm having a great time (slowly) making my way through the story, of course, but I'm having just as much fun talking with them about their farmers, answering obscure questions about game systems, and making big wet eyes at all the beautiful fanart together. An unexpected but very welcome source of bonding between us this year (and it inspires much less interpersonal violence than Super Battle Golf).<br><br>I'm playing an unmodded save right now; I just broke the second-to-last seal in the mines a couple play sessions ago (told ya I'm going slow!) and I got to 8 hearts with a townie for the first time (it was Eiland) (no one was surprised by this). </p>
        <center>
            <img src="/graphics/now/now-tomolife.jpg" alt="A screenshot from the game Tomodachi Life: Living the Dream. One Mii is standing with their back to the camera and holding a laptop. They are speaking to four other Miis who are seated in front of them on the beach. The moment is captioned 'It's a lecture titled The Fundamentals of Tax Evasion' at the bottom of the screen.">
            <p class="subtletext pmargin"></p>
        </center>
        <p><strong>Final Fantasy XIV:</strong> OK to be fair: when am I <em>not</em> playing XIV? It's almost always there in the background, the home I can always come back to. It feels worthy of mention right now because of the recent Switch 2 version release. The ability to log in anywhere has lowkey revolutionized my world; no longer is access to my comfort game locked behind whether I can tolerate sitting at my desk for more than a few minutes! Going without mods is a bit of a bummer but not a deal-breaker for me, since I'm not playing on the Switch with the intent of gposing or anything. This thing is my chip-away-at-long-term-grinds-in-bed machine, and I don't need my characters to look perfect for that. Honestly the thing I miss most is my Reshade gameplay preset, to brighten up the world - I've always found the vanilla color palette a little dull.</p>
        <center>
            <img src="/graphics/now/now-pokopia.jpg" alt="A screenshot from the game Pokemon Pokopia. A player character is taking a selfie of themself and their friend, who is standing on and pointing down at a lamp. Both player characters have shocked expressions.">
            <p class="subtletext pmargin"></p>
        </center>
        <p class="subtletext">Last updated: 18 September 2026</p>
    </section>

    <section class="yellow">
        <h3>Shows I'm watching</h3>
        <p><strong>Witch Hat Atelier:</strong> To be honest, I was watching weekly but paused at episode 10... I don't want it to be over, so I don't want to catch up lol. But I must, because if I don't finish it then my partner won't finish it, and I can't allow that.</p>
        <p><strong>Secrets of the Silent Witch:</strong> Now that I'm past volume 4 of the novels, I'm safe to watch the anime without any spoilers. I don't like it nearly as much as the novels LOL
        <br><br>My favorite part of this series has been watching Monica's slow growth and connection to the people around her, but by its very nature the anime can't take its time in the same way the novel can... the relationships all feel incredibly flat to me because of the pacing. Visually it's lovely and I've snorted at seeing some of the goofs animated but unfortunately I am one of those "read the book it's better" people on this one. Hell, even the manga has better pacing (though I still think not really getting time in each character's head is to the detriment of any adaptation).</p>
        <p><strong>Romeo x Juliet:</strong> Picking this one up on request from a friend! I'm meant to be doing a group watch with some pals but I missed the first day because I wasn't feeling good, I ended up napping most of that day away. So I need to get caught up before we keep going.</p>
        <p class="subtletext">Last updated: 18 September 2026</p>
    </section>

    <section class="red">
        <h3>Light novels I'm reading</h3>
        <p><strong>Secrets of the Silent Witch:</strong> I've got two unread volumes left on my shelf right now, and the eighth comes out next week. I don't know what I'm going to do with myself after that... the eternal wait for volume 9. I think they're up to 13 or 14 in Japanese right now, serializing the Gaiden arc. There's some unofficial localizations floating around out there in case I get impatient lol</p>
        <p><strong>7th Time Loop:</strong> Sleeper hit series! I didn't think I'd like it as much as I do. The "Villainess" in the title is kind of misleading IMO, though I guess you could take it as a sort of deconstruction of the trope? (Reference convo with Addy about Mother's Basement video on villainess stories. try to find that video also)
        <br><br>Tracking these down in print has been another nightmare scenario like with Silent Witch. I ended up putting in requests for Interlibrary loans for volumes 4-6 so I wasn't stuck waiting for reprints to get caught up (many thanks to the Pima County library system for coming in clutch), and I've been scavenging secondhand booksellers for months to fill out my personal collection. I'm only missing volume 1 now...!</p>
        <p class="subtletext">Last updated: 18 September 2026</p>
    </section>
</div>