---
layout: page_base.njk
title: blooming on the moon
---

<div class="left">
    <!-- what's new + RSS feed -->
    <section class="red">
        {% include "partials/latestupdates.njk" %}
    </section>

    <!-- statuscafe -->
    <section class="blue">
        {% include "partials/statuscafe.njk" %}
    </section>

    <!-- currently -->
    <section class="green">
        {% include "partials/currently.njk" %}
    </section>

    <!-- link back -->
    <section class="yellow">
        {% include "partials/linkback.njk" %}
    </section>
</div>

<div class="right">
    <!-- welcome -->
    <section class="purple">
        <h2>Welcome to the fourth coolest site on the moon <span class="subtletext">(allegedly)</span></h2>
        <p>
            I'm Luna, the webmaster of lunarlily! Thanks for stopping by :]
        </p>
        <p>
            There isn't anything outright explicit on this site, but there will likely be swearing and occasional sexual/crude humor scattered around (especially in the journal). Please keep this in mind, and if you're a minor please curate your space accordingly.
        </p>
        <p>
            As with all personal sites, things are forever under construction and subject to change on a whim. If you come across anything broken (or that seems like it), feel free to drop an email or a message on the guestbook and I'll take a look!
        </p>
    </section>

    <!-- thing of the week -->
    <section class="orange">
        <h3>Thing of the Week</h3>
        <h4 class="titlemargin">Week of May 17, 2026: Tomodachi Life Toolkit</h4>
        <p class="pmargin subtletext">Posted May 20</p>
        <p>While I'm sure Tomodachi Life itself needs no introduction in this part of the web, I thought I'd share some tools I've been using regularly alongside the game. None of these are mandatory for a fun play experience, of course! If they don't spark joy for you, no need to use them :]</p>
        <ul class="listnopad">
            <li>
                <a href="https://tomoplanner.com/calculator">TomoPlanner's Personality Calculator</a>
                <p>TomoPlanner started making the rounds on Bluesky after Uncle Nintendo dropped the game demo! I think it's a good tool if you're someone who wants to plan out exactly who will live on your island, especially if you have a big cast in mind. I'm not that type of player myself, but I do make ample use of the included personality calculator when I'm cooking up new Miis.</p>
            </li>
            <li>
                <a href="https://living-the-grid.com/">Living the Grid - Pixel art drawing helper</a>
                <p>Listen, I know what I'm good at and drawing ain't it. This has helped me get a couple custom items into the game with a lot less headache than if I had tried to fully freehand them.</p>
            </li>
            <li>
                <a href="https://tomolingo.neocities.org/">TomoLingo - Island lingo generator</a>
                <p>Community sourced dictionary of island lingo ideas. If you're stuck on ideas when your Miis ask you for something, it's worth taking a peek! Be mindful that there's quite a lot of NSFW lingo lol but you can filter them out.</p>
            </li>
        </ul>
        <center>
            <img src="/graphics/totw/26-05-20.jpg" alt="A screenshot from the game Tomodachi Life: Living the Dream. 8 Miis are lined up in a row during an in-game news broadcast, celebrating the announcement of the new island vibe." width="80%">
            <p class="subtletext">Sleepytime Island hit 10 residents a couple days ago! This is the only decent group picture I have right now lol. Maybe I'll start up some sort of play log?</p>
        </center>
        <p class="subtletext">Check out <a href="/totw-archive">the archive</a> for past things of the week!</p>
    </section>

    <div class="right-inside">
        <!-- webrings -->
        <section class="blue">
            <h3>Webrings</h3>
            <p class="subtletext">Here's where webrings would go... if I were in any. Stay tuned!</p>
        </section>

        <!-- cliques, clubs, fanlistings -->
        <section class="green">
            <h3>Cliques, clubs & fanlistings</h3>
            <p class="subtletext">Here's where cliques, clubs, fanlistings would go... if I were in any. Stay tuned!</p>
        </section>
    </div>
</div>