---
layout: page_base.njk
title: blooming on the moon
---

<div class="left">
    <!-- what's new + RSS feed -->
    <section class="red">
        {% include "partials/latestupdates.njk" %}
    </section>

    <!-- statuscafe -->
    <section class="blue">
        {% include "partials/statuscafe.njk" %}
    </section>

    <!-- currently -->
    <section class="green">
        {% include "partials/currently.njk" %}
    </section>

    <!-- link back -->
    <section class="yellow">
        {% include "partials/linkback.njk" %}
    </section>
</div>

<div class="right">
    <!-- welcome -->
    <section class="purple">
        <h2>Welcome to the fourth coolest site on the moon <span class="subtletext">(allegedly)</span></h2>
        <p>
            I'm Luna, the webmaster of lunarlily! Thanks for stopping by :]
        </p>
        <p>
            There isn't anything outright explicit on this site, but there will likely be swearing and occasional sexual/crude humor scattered around (especially in the journal). Please keep this in mind, and if you're a minor please curate your space accordingly.
        </p>
        <p>
            As with all personal sites, things are forever under construction and subject to change on a whim. If you come across anything broken (or that seems like it), feel free to drop an email or a message on the guestbook and I'll take a look!
        </p>
    </section>

    <!-- thing of the week -->
    <section class="orange">
        <h3>Thing of the Week</h3>
        <h4 class="titlemargin">Week of September 27, 2026: he would've handled it</h4>
        <p class="pmargin subtletext">Posted September 30</p>
        <p>i've watched this every day since it was posted. can't get him out of my mind idk why</p>
        <center><blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:vmahnbhfsccrghdzg5ytkmzd/app.bsky.feed.post/3mwe5d2aipk2o" data-bluesky-cid="bafyreidrlnpu7fctkow5feqtpnzdxevthiorp7k4fp7e5hzcmnsdrdynxm" data-bluesky-embed-color-mode="system"><p lang="en">i love this video so much i whipped up an english subtitled version real quick so everyone can appreciate it<br><br><a href="https://bsky.app/profile/did:plc:vmahnbhfsccrghdzg5ytkmzd/post/3mwe5d2aipk2o">[image or embed]</a></p>&mdash; charlie deeds done kirk cheap (<a href="https://bsky.app/profile/did:plc:vmahnbhfsccrghdzg5ytkmzd">@gizmouse.bsky.social</a>) <a href="https://bsky.app/profile/did:plc:vmahnbhfsccrghdzg5ytkmzd/post/3mwe5d2aipk2o">September 25, 2026 at 9:00 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script></center>
        <p class="subtletext">Testing bsky's embed thing... dunno if I like it or not. I wish it would play the video within the iframe but it keeps opening in another tab for me? But I didn't want to host the video directly so this is my compromise for now ;w;</p>
    </section>

    <div class="right-inside">
        <!-- webrings -->
        <section class="blue">
            <h3>Webrings</h3>
            <p class="subtletext">Here's where webrings would go... if I were in any. Stay tuned!</p>
        </section>

        <!-- cliques, clubs, fanlistings -->
        <section class="green">
            <h3>Cliques, clubs & fanlistings</h3>
            <p class="subtletext">Here's where cliques, clubs, fanlistings would go... if I were in any. Stay tuned!</p>
        </section>
    </div>
</div>