---
layout: page_base.njk
title: blooming on the moon
---

<div class="left">
    <!-- what's new + RSS feed -->
    <section class="red">
        {% include "partials/latestupdates.njk" %}
    </section>

    <!-- statuscafe -->
    <section class="blue">
        {% include "partials/statuscafe.njk" %}
    </section>

    <!-- currently -->
    <section class="green">
        {% include "partials/currently.njk" %}
    </section>

    <!-- link back -->
    <section class="yellow">
        {% include "partials/linkback.njk" %}
    </section>
</div>

<div class="right">
    <!-- welcome -->
    <section class="purple">
        <h2>Welcome to the fourth coolest site on the moon <span class="subtletext">(allegedly)</span></h2>
        <p>
            I'm Luna, the webmaster of lunarlily! Thanks for stopping by :]
        </p>
        <p>
            There isn't anything outright explicit on this site, but there will likely be swearing and occasional sexual/crude humor scattered around (especially in the journal). Please keep this in mind, and if you're a minor please curate your space accordingly.
        </p>
        <p>
            As with all personal sites, things are forever under construction and subject to change on a whim. If you come across anything broken (or that seems like it), feel free to drop an email or a message on the guestbook and I'll take a look!
        </p>
    </section>

    <!-- thing of the week -->
    <section class="orange">
        <h3>Thing of the Week</h3>
        <h4 class="titlemargin">Week of July 19, 2026: these really cute bunny index tabs from Daiso</h4>
        <p class="pmargin subtletext">Posted July 19</p>
        <center>
            <img src="/graphics/totw/26-07-19.jpg" alt="A picture of the first three volumes of Secrets of the Silent Witch. Each volume has numerous bunny-shaped index tabs sticking out from the top of the pages.">
            <p class="subtletext">They took my two favorite things (rabbits and stationery) and mashed them together. What was I supposed to do, NOT get them?</p>
        </center>
        <p>I'm slowly becoming someone who likes to tab up their favorite books, and that means I'm now in constant need of index markers that can withstand the test of time. I have three or four little packs that I picked up as a student, but they're all paper so they're a bit on the flimsy side... the adhesive on the really old ones barely works now too, but I can't bring myself to just throw them out. These bunny shaped ones from Daiso are plastic though, so they're durable against tears and bending! And like, look at them. They're so cute. Foolishly I only got one pack and I ran out after just three books...</p>
    </section>

    <div class="right-inside">
        <!-- webrings -->
        <section class="blue">
            <h3>Webrings</h3>
            <p class="subtletext">Here's where webrings would go... if I were in any. Stay tuned!</p>
        </section>

        <!-- cliques, clubs, fanlistings -->
        <section class="green">
            <h3>Cliques, clubs & fanlistings</h3>
            <p class="subtletext">Here's where cliques, clubs, fanlistings would go... if I were in any. Stay tuned!</p>
        </section>
    </div>
</div>