        <h3>Currently...</h3>
        <ul class="listnopad">
            <li><strong>eating</strong> delicious rice dinner</li>
            <li><strong>playing</strong> Tomodachi Life: Living the Dream</li>
            <li><strong>watching</strong> Witch Hat Atelier episode 10 (I fell behind ;o;)</li>
            <li><strong>reading</strong> Wonder Boy, volume 1</li>
            <li><strong>listening to</strong> <span id="song"></span></li>
            <li><strong>thinking about</strong> cleaning my room again...</li>
            <li><strong>wishing for</strong> someone else to clean my room for me</li>
        </ul>

<script>
// last.fm last played - credit to biancarosa!
// code modified slightly from example 1, which can be found here:
// https://github.com/biancarosa/lastfm-last-played/blob/main/examples/example1.html

{
    let lastfmuser = "eleventhcircle";
    let lastfmurl = "https://lastfm-last-played.biancarosa.com.br/" + lastfmuser + "/latest-song";
    let lastfmsong = document.querySelector("#song");

    fetch(lastfmurl)
    .then(function (response) {
    return response.json()
    }).then(function (json) {
    lastfmsong.innerHTML = "<a href='" + json["track"]["url"] + "'> " + json["track"]["name"] + " - " + json["track"]["artist"]["#text"] + "</a>";
    });
}
</script>