        <h3>Linkback!</h3>
        <center>
            <img src="/graphics/lunarlily88x31.gif" style="height: 31px; width: 88px;"> <br>
            <textarea>&lt;a href="https://lunarlily.neocities.org/"&gt;&lt;img src="https://github.com/eleventhcircle/lunarlily/blob/public/graphics/lunarlily88x31.gif" alt="lunarlily"&gt;</textarea>
        </center>
        <p class="subtletext"><strong>Hotlinking OK!</strong> If you'd like to be neighbors, leave a message in the <a href="/guestbook">guestbook</a> :]</p>