<a id="home" class="red" href="/">home</a>
<div class="dropdown">
    <button class="yellow">personal</button>
    <div class="dropdown-list">
        <a href="/about">about me</a>
        <a href="/now"><del>/now</del></a>
        <a href="/journal">journal</a>
    </div>
</div>
<div class="dropdown">
    <button class="green">sitely</button>
    <div class="dropdown-list">
        <a href="/sitemap">sitemap</a>
        <a href="/guestbook">guestbook</a>
        <a href="/changelog">changelog</a>
        <a href="/credits">credits</a>
        <a href="/"><del>to-do</del></a>
    </div>
</div>
<div class="dropdown">
    <button class="blue">fun things</button>
    <div class="dropdown-list">
        <a href="/totw-archive">TOTW archive</a>
        <a href="/"><del>collections</del></a>
        <a href="/"><del>toybox</del></a>
        <a href="/"><del>craft room</del></a>
    </div>
</div>
<div class="dropdown">
    <button class="purple">shrines</button>
    <div class="dropdown-list">
        <a href="/">coming soon!</a>
    </div>
</div>
<div class="dropdown">
    <button class="indigo">OCs</button>
    <div class="dropdown-list">
        <a href="/">coming soon!</a>
    </div>
</div>
<a id="links" class="red" href="/links">links</a>